head,body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}

#header-img,header{
    width: 100%;
    height: 20vh;
}
header{
    position: relative;
}

h1{
    font-size: 4rem;
    position: absolute;
    top: 40%;
    left: 10%;
    margin: 0;
    padding: 0;

}
header p{
    position: absolute;
    font-size: 2rem;
    font-weight: 600;
    top: 45%;
    right: 10%;
    margin: 0;
    padding: 0;
}

#search-bar{
    display: flex;
    width: 70vw;
    height: 6rem;
    flex-direction: row;
    margin: auto;
    position: absolute;
    top: 17.5vh;
    left: 15vw;
    gap: 0;
}
input{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
button{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
input,button{
    flex-grow: 1;
    border: none;
    color: white;
}

input{
    background-color:#2E2E2F;
    font-family: inherit;
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: 400;
}
input:focus{
    outline-width: 0;
}

button{
    background-color: #4B4B4B;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 500;
}

/* --- main --- */

#explore-img{
    width: 30vw;
    position: absolute;
    top: 45vh;
    left: 35vw;
}

#search-result{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 4rem auto;
    height: 100vh;

}
p, h2{
    margin: 0;
    padding: 0;
}
.result-movie{
    display: grid;
    /* height: 15vh; */
    grid-template-columns: 25% auto auto 20%;
    grid-template-rows: 0 auto  auto auto 0;
    align-items: baseline;
    border-bottom: 0.2rem solid #2C2C2C;
    column-gap: 1.7rem;
    row-gap: 1rem;
    padding: 2rem;
}

.poster{
    width: 100%;
    height: 100;
    grid-column: 1/2;
    grid-row: 1/-1;
}

.mov-title{
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 2.5em;
    text-align: left;
    font-weight: 600;
}

.rating{
    grid-column: 4/5;
    grid-row: 2/3;
    font-size: 1.5rem;
}

.duration, .genre, .watchlist-btn-container{
    font-size: 1.4rem;
    margin: auto 0
}

.duration{
    grid-column: 2/3;
    grid-row: 3/4;
}

.genre{
    grid-column: 3/4;
    grid-row: 3/4;
}

.watchlist-btn-container{
    grid-column: 4/5;
    grid-row: 3/4;
    
}
.watchlist-btn{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.watchlist-btn img{
    width: 2rem
}
.watchlist-btn p{
    padding: 0;
    marging: 0;
}

.description{
    grid-column: 2/-1;
    grid-row: 4/-1;
    font-size: 1.7em;
    color: #A5A5A5;
    font-weight: 500;
    letter-spacing: 0;
}